body, html {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #666;
    font-weight: 300;
    width: 100% !important;
    height: 100% !important;
}

ul, ol {
    list-style: none;
}

ul, ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 42px;
    color: #444;
}

hr {
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #0ba2db;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

.mrg-auto{
	margin-left:auto;
	margin-right:auto;
}


.mrg-lft-15{
	margin-left:15px;
}

.mrg-lft-20{
	margin-left:20px;
}
.mrg-lft-25{
	margin-left:25px;
}
.mrg-lft-30{
	margin-left:30px;
}

.mrg-lft-35{
	margin-left:35px;
}

.mrg-lft-40{
	margin-left:30px;
}

.mrg-btm-15{
	margin-bottom:15px;
}

.mrg-btm-20{
	margin-bottom:20px;
}
.mrg-btm-25{
	margin-bottom:25px;
}
.mrg-btm-30{
	margin-bottom:30px;
}

.mrg-btm-35{
	margin-bottom:35px;
}

.mrg-btm-40{
	margin-bottom:40px;
}

#menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

#menu {
    padding: 20px;
    transition: all 0.8s;
}

.navbar-nav > li > a {
    text-transform: uppercase;
    color: #444;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav > .active > a{
	 color: #0ba2db !important;
    background-color: transparent;
}

.on {
    background-color: #f6f6f6 !important;
    border-bottom: 1px solid #ddd !important;
    padding: 10px 0 !important;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-toggle {
    border-radius: 0;
    background-color: #0ba2db;
    border-color: #0ba2db;
}

#menu a.navbar-brand {
    font-size: 20px;
    color: #444;
    font-weight: 500;
    text-transform: uppercase;
}

#menu i.cl{
	color: #0ba2db;
    vertical-align: top;
}

#menu.navbar-default .navbar-nav > li > a:hover {
	color: #0ba2db;
}

.btn1{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0px;
}

.navbar-default .navbar-toggle .btn2{
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0ba2db;
    border-color: #0ba2db;
}

.navbar-collapse.in{
    overflow-y: auto;
}

.collapse.in{
    display: block;
}

.intro {
    display: table;
    width: 100%;
    padding: 0;
   background: url(../img/intro-bg.jpg) no-repeat center center;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    background-size: cover;  
}


.intro .overlay {
    background: rgba(255,255,255,0.2);
}

header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
    text-align: center;
}

.intro h1 {
    color: #0ba2db;
    font-size: 60px;
    font-weight: 600;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.intro p {
    color: #444;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn-custom {
    text-transform: uppercase;
    color: #fff;
    background-color: #0ba2db;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    border-radius: 2px;
    margin-top: 20px;
    transition: all 0.3s;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #444;
}

#about {
    padding: 100px 0;
}

.section-title {
    margin-bottom: 70px;
}

#about .about-text {
    margin-left: 10px;
    margin-top: 20px;
}

#about img {
    display: inline-block;
    border-color: #0ba2db;
    border-radius: 20px;
    padding: 20px;
}

#about h3 {
    font-size: 22px;
}

#about p {
    line-height: 24px;
    margin: 30px 0;
}

#about .about-text li:before {
    content: "✓";
    color: #0ba2db;
    padding-right: 10px;
}

#about .about-text li {
    font-size: 16px;
    margin-bottom: 6px;
    margin-left: 10px;
    list-style: none;
    padding: 0;
}

#services {
    padding: 120px 0;
    background: #f6f6f6;
}

.section-title p {
    font-size: 18px;
}

#services .fa {
    font-size: 48px;
    margin: 20px 0;
    color: #0ba2db;
}

#pricing {
    padding: 120px 0 140px 0;
}

#pricing .pricing-table {
    border: 1px solid #e4e4e4;
    text-align: center;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
}

#pricing .pricing-table:hover {
	z-index: 2;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.pricing-table .plan-name h3 {
    font-weight: 300;
    font-size: 32px;
}

.pricing-table .plan-name {
    padding: 15px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.05) inset;
    border-bottom: 1px solid #eee;
}

.pricing-table .plan-price {
    padding: 25px 0;
}

.pricing-table .plan-price .price-value {
    font-size: 38px;
    line-height: 52px;
    color: #444;
}

.pricing-table .plan-list li:first-child {
    border-top: 1px solid #eee;
}

.pricing-table .plan-list li {
    padding: 8px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.pricing-table .plan-signup {
    padding: 25px 0;
}

.pricing-table .plan-signup a {
    text-transform: uppercase;
	text-decoration: none !important;
}

.pricing-table .btn-system {
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    background-color: #0ba2db;
    margin-right: 5px;
    font-size: 16px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    border: 0;
    text-transform: uppercase;
}

.pricing-table .btn-system.border-btn {
    background-color: transparent;
    border: 1px solid;
    box-shadow: none;
}

.pricing-table .btn-system:hover, .pricing-table .btn-system.border-btn:hover {
	background-color: #444;
}

#pricing .pricing-table.highlight-plan .plan-name {
    background-color: #0ba2db;
    padding: 25px 0;
    border-radius: 4px 4px 0 0;
}

#pricing .pricing-table.highlight-plan .plan-signup {
    background-color: #0ba2db;
    padding: 30px 0;
    border-radius: 0 0 4px 4px;
}

#contact {
    padding: 120px 0 60px 0;
    background: #F6F6F6;
}

#contactfm{
	padding:30px 0;
}	

.form-fields {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #444;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    box-shadow: none;
}

form .error{
	margin-top:5px;
	margin-bottom:10px;
	color:#aa2522;
}

.social{
	margin-top: 80px;
}

.social_icon{
	margin: 0 20px;
}

.social_icon i.fa{
	font-size:26px;
	padding:4px;
	color:#0ba2db;
	transition:all 0.3s;
}

.footer{
	background: #e6e6e6;
    color: #888;
    padding: 30px 0 25px 0;
    border: 1px solid #fff;	
}

.footer p{
	font-size:15px;
}
.footer a{
	    color: #666;
}

.footer a:hover{
	    color: #0ba2db;
		text-decoration:none;
}

