body,html,.main_section,.scr1{
	height: 100% !important;
	width: 100%;
}

p{
	line-height: 1.6em;
}

.pos_r{
	position: relative;
}

.menu > ul > li > a,.scr_btn,.sub_btn, h1, h2, h3, h4, h5, h6{
	font-family: Roboto Mono, sans-serif;
}

.pg_border{
	position: relative;
	z-index: 12;
}

.pg_border > .left{
	left: 0px;
}

.pg_border > .right {
	right: 0px;
}

.pg_border > div {
	position: fixed;
	z-index: 12;
	background: #E7E7E7;
}

.pg_border > .left, .pg_border > .right{
	width: 25px;
	height: 100%;
	top: 0; 
}

.menu_btn{
	position: fixed;
    display: block;
    top: 25px;
    right: 25px;
    text-decoration: none;
    color: #FFF;
    z-index: 99;
    padding: 16px;
    background: #202020;
}

.menu_btn > .lines{
	display: block;
	width: 33px;
	height: 19px;
	position: relative;
}

.lines > .l1{
	top: 0px;
	position: absolute;
}

.showmenu .lines > .l1{
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 9px;
}

.lines > .l2 {
    top: 9px;
}

.showmenu .lines > .l2{
	opacity: 0;
}

.lines > .l3 {
    top: 18px;
    position: absolute;
}

.showmenu .lines > .l3{
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -9px;
}

.lines > span {
	height: 1px;
	width: 100%;
	display: block;
	background: #fff;
	position: absolute;
	left: 0px;
	transition: all .3s ease;
}

.menu{
	position: fixed;
    z-index: 12;
    top: 25px;
    right: 91px;
    background: #202020;
    height: 51px;
    line-height: 51px;
    color: #FFF;
    padding: 0 17px;
   -webkit-transform:translateY(-15px);
	-moz-transform:translateY(-15px);
	-ms-transform:translateY(-15px);
	-o-transform:translateY(-15px);
	transform:translateY(-15px);
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
    opacity: 0;
    visibility: hidden;
}

.showmenu .menu{
	visibility: visible;
	opacity: 1;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0);
}



.menu > ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.menu > ul > li{
	display: inline-block;
	margin: 0 3px;
}

.menu > ul > li > a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*color: #FFF;*/
    color: rgba(255,255,255,.6);
    text-decoration: none;
    transition: all .3s ease;
    padding: 0 14px;
}

.menu > ul > li > a:hover {
    color: #FFF;
}

.no-js #preloader{
	display: none;
}

body.loader #preloader{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #fff;
	z-index: 99;
	transition: all .3s ease;
}

body.loaded #preloader{
	visibility: hidden;
	opacity: 0;
}

.scr{
	position: relative;
	z-index: 10;
	background: #fff;
}

.scr1{
overflow: hidden;
}

.scr1:before, .scr1:after{
	content: '';
	position: absolute;
	left: 0px;
	width: 100%;
	height: 25px;
	z-index: 15;
	background-color: #E7E7E7;
}

.scr1:before{
	top: 0px;
}

.scr1:after{
	bottom: 0px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.scr1 > .container{
	height:100%;
}

.scr1_div{
	height : 100%;
}

.scr1_div > div{
	height: 100%;
	position: relative;
}

.ph1{
	max-width: 365px;
	margin: auto;
	bottom: -80px;
	position: relative;
	width: 100%;
}

.ph1_img > img{
	max-width: 100%;
}

.scr1_main{
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
}

.cont{
	height: 100%;
	width: 100%;
	display:table-cell;
    vertical-align: middle;
    color: #000;
}

.sub_cont > h1{
	font-size: 78px;
	margin: 0px 0px 25px 0px;
	font-weight: 400;
}

.sub_cont > p{
	font-size: 20px;
	margin: 0px 0px 55px 0px;
	color: rgba(0,0,0,.4);
}

.app_download{
	font-size: 0px;
}

.app_download > .download_btn{
	margin-right: 25px;
}

a.download_btn{
	color:#202020;
	text-decoration: none;
}

.download_btn{
	background-color: #202020;
	display: inline-block;
	width: 180px;
	padding: 3px;
	position: relative;
	transition: all .3s ease;
}

.download_btn:last-of-type {
    margin-right: 0;
 }

.download_btn:hover{
	cursor: pointer;
}

a > img{
	max-width: 100%;
}

.download_btn > img{
	    border: 1px #fff solid;
}

.scr2{
	padding: 75px 0px 100px 0px;
}

.ph2{
	text-align: center;
	display: block;
}

.ph2 > img{
	max-width: 100%;
}

.scr2_main{
	margin-top: 100px;
	text-align:center;
}

.scr2_main > h2{
	font-size: 38px;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #000;
}

.scr2_main > p{
	font-size: 16px;
	color: rgba(0,0,0,0.4);
	margin: 0px;
	font-weight: 500;
}

.scr2_row{
	margin-top: 100px;
}

.feature_icon{
	font-size: 54px;
	margin-bottom: 20px;
}

.feature_content > h4{
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
}

.feature_content > p{
	color: rgba(0,0,0,0.4);
	margin: 0px;
}

.bg-grey{
	background-color: #F2F2F2;
}

.scr3{
	padding-top: 100px;
}

.ph3{
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 490px;
}

.ph3_1{
	position: relative;
	z-index: 10;
	width: 350px;
	margin-right: -85px;
}

.ph3_2{
	position: relative;
	z-index: 8;
	width: 290px;
	margin-left: -85px;
}

.scr_content{
	padding-top: 80px;
	padding-bottom: 100px;
}

.scr_content > h2{
	font-size: 38px;
	font-weight: 300;
	margin-bottom: 20px;
}

.scr_content > p{
	font-size: 18px;
	color: rgba(0,0,0,0.4);
	margin: 0px 0px 40px 0px; 
}

a.scr_btn{
	text-decoration: none;
	color: #000;
}

.scr_btn{
	position: relative;
	padding:14px 25px;
	line-height: 1em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .3s ease;
    border: 1px #c0c0c0 solid;
    background-color: transparent;
    display: inline-block;
}

.scr_btn:hover{
	cursor: pointer;
	color: #fff;
	background-color: #000;
}

.ph4_1{
	position: relative;
	z-index: 10;
	width: 350px;
	margin-right: auto;
	margin-left: -80px;
}

.ph4_2{
	position: relative;
	z-index: 8;
	width: 290px;
	margin-left: auto;
	margin-right: -80px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.scr4{
	padding:100px 0px;
	border-top: 1px #f0f0f0 solid;
}

.scr4 .scr4_header{
	margin-bottom: 80px;
}

.scr4_header{
	position: relative;
	text-align: center;
}

.scr4_header > h2 {
	font-size: 34px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.scr4_header > p{
	margin: 0px;
	color: rgba(0,0,0,0.4);
	font-size: 16px;
}

.owl-div{
	position: relative;
	overflow: hidden;
}

.owl-div > .item > .img_div{
	position: relative;
	margin-right: 1px;
}

.owl-div > .item > .img_div > img{
	width: 100%;
}

.owl-div > .item > .img_div > img{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}



.owl-div:before, .owl-div:after{
	content: '';
	display: table-cell;
}

.owl-div > .img_div:before{
	content: ' ';
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	transform:scale(.2);
	transition:all .3s ease;
	opacity:0;
	visibility:hidden;
	background:rgba(40,40,40,.95);
	z-index:9;
}

.owl-theme .owl-dots .owl-dot span {
    width: 30px !important;
    height: 5px !important;
    border-radius: 0px !important;
}

.overlay{
	background-color: #000;
    opacity: 0;
    position: absolute;
    height: 99%;
    width: 98.5%;
    top: 3px;
    left: 2px;
   -webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	-webkit-transform:scale(.2);
	-moz-transform:scale(.2);
	-ms-transform:scale(.2);
	-o-transform:scale(.2);
	transform:scale(.2);

}

.img_btn{
	color: #fff;
    height: 64px;
    width: 64px;
    text-align: center;
    vertical-align: middle;
    border: 2px #fff solid;
   /* margin-left: 99px;
    margin-top: 198px;*/
    position: absolute;
    font-size: 40px;
    transition: all .5s ease;
    opacity: 0;
    margin-left: 95px;
    margin-top: -270px;
}


.item > .img_div:hover .overlay{
	opacity: .4;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);

}

.item > .img_div:hover .img_btn{
	opacity: 1;
}

.img_btn:hover{
	background:#FFF;
	color:#202020 !important;
}

.img_btn > i:before{
	line-height:64px;
	font-size:44px;
	vertical-align:middle;
}

.scr5{
	padding: 100px 0px;
}

.fet_div{
	padding-top: 58px;
}

.fet{
	margin-bottom: 58px;
}

.fet > .fet_icon{
	font-size: 64px;
}

.fet_cont > h4{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0px 0px 15px 0px;
	font-weight: 500;
}

.fet_cont > p{
	 color: rgba(0,0,0,0.4);
	 font-size: 16px;
}

.ph5{
	max-width: 340px;
	margin: auto;
}

.ph5 > img{
	max-width: 100%;
}

.scr6{
	padding: 100px 0px;
}

.scr6 .vid_cont{
	padding-top: 50px;
}

.vid_cont > h2{
	margin-top: 0px;
	font-size: 34px;
	line-height: 1.4em;
	margin-bottom: 20px;
	font-weight: 300;
	letter-spacing: 6px;
}

.vid_cont > p{
	color: rgba(0,0,0,0.4);
	margin-top: 0px;
	letter-spacing: 2px;
}

.vid_div{
width: 730px;
height: 365px;
}

@media (min-width: 320px) and (max-width: 1024px){
	.vid_div{
width: 100%;
height: 100%;
}
}

.vid_frame{
	height: 100%;
	width: 100%;
}

.scr7{
	padding: 100px 0px;
}

.scr7 .pr_cont{
	padding-top: 50px;
}

.pr_cont > h2{
	margin-top: 0px;
	font-size: 34px;
	line-height: 1.4em;
	margin-bottom: 20px;
	font-weight: 300;
}

.pr_cont > p{
	margin-bottom: 35px;
	color: rgba(0,0,0,0.4);
	margin-top: 0px;
}

.pr_div{
	padding: 60px 20px;
	border: 2px #E7E7E7 solid;
	text-align: center;
}

.pr_div > .pr_title {
	margin-bottom: 40px
}

.pr_div > .pr_title > h4{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 40px;
}

.price{
	line-height: 84px;
	height: 84px;
}

.pr_div > .pr_title > .price > span{
	display: inline-block;
	position: relative; 
}

.pr_div > .pr_title > .price > .pr_symbol{
	vertical-align: top;
	line-height: 1em;
	top: 18px;
}


.pr_div > .pr_title > .price > .value{
	font-size: 84px;
	font-weight: 600;
}

.pr_div > .pr_title > .price > .per{
	line-height: 1em;
	vertical-align: baseline;
	text-transform: uppercase;
	letter-spacing: 2px;
	bottom: 5px;
	color: rgba(0,0,0,0.4);
}

.pr_div > .pr_fet{
	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-bottom: 35px;
}

.pr_div > .pr_fet > li{
	padding: 8px 0px;
	color: rgba(0,0,0,0.4);
	font-weight: 500
}

.scr8{
	padding: 100px 0px;
	background-image: url(../img/bg1.jpg);
	background-attachment: fixed;
	text-align: center;
}

.scr8 .scr8_title > h2{
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-bottom: 35px;
}

.sub_form{
	position: relative;
}

.sub_form > .sub_input{
   padding: 12px 120px 12px 12px; 
   border: 1px rgba(255,255,255,0.4) solid;	
   background: transparent;
   outline: none;display: block;
   width: 100%;
   color: #fff;
   transition: all .3s ease;
}

.sub_btn{
	position: absolute;
	top: 0px;
	right: 0px;
	line-height: 46px;
	height: 46px;
	vertical-align: middle;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.sub_spam{
	color: rgba(255,255,255,0.8);
	margin-bottom: 0px;
	margin-top: 10px;
}

.scr9{
	padding:100px 0;
}
.scr9 .pr_cont{
	padding-top:50px;
}

.scr9 .pr_cont > p{
	margin-bottom:35px;
}
.team_div{
	padding:0 15px;
	margin:-1px;
}
.team_div > .row > div{
	padding:1px;
	margin:0;
}
.team_mem{
	position:relative;
}
.team_mem > img{
	width:100%;
}

.team_mem > .overlay2{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	opacity:0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	z-index:18;
	text-align:center;
	color:#FFF;
}

.team_mem:hover > .overlay2{
	opacity:1;
}

.align{
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
}

.align > .team_cont{
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.team_mem > .overlay2 .team_cont > h4{
	text-transform:uppercase;
	letter-spacing:2px;
	margin:0;
}

.team_mem > .overlay .team_cont > p{
	margin-top:2px;
	margin-bottom:15px;
	color:rgba(255,255,255,.6);
}

.team_mem > .overlay2 .team_social{
	list-style:none;
	padding:0;
	margin:0;
	font-size:0;
}

.team_mem > .overlay2 .team_social > li{
	display:inline-block;
	*display:inline;
	*zoom:1;
}

.team_mem > .overlay2 .team_social > li > a{
	display:block;
	color:rgba(255,255,255,.8);
	padding:5px 10px;
	font-size:18px;
}

.team_mem > .overlay2 .team_social > li > a:hover{
	color:#FFF;
}

.team_mem:before{
	content: ' ';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(40,40,40,.95);
	z-index:11;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	-webkit-transform:scale(.2);
	-moz-transform:scale(.2);
	-ms-transform:scale(.2);
	-o-transform:scale(.2);
	transform:scale(.2);
	opacity:0;
	visibility:hidden;
}
.team_mem:hover:before{
	opacity:1;
	visibility:visible;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

.scr10{
	padding: 100px 0px;
}

.scr10 .scr10_title{
	margin-bottom: 80px;
	text-align: center;
	position: relative;
}

.scr10_title > h2{
	font-size: 34px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.scr10_title > p{
    margin: 0px;
    color: rgba(0,0,0,0.4);
    font-size: 16px;
}

.client_list{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.client_list:before, .client_list:after {
	content: ' ';
	display: table;
}

.client_list > li{
	width: 33.3333%;
	float: left;
	padding: 25px;
	margin-left: -1px;
	margin-top: -1px;
	position: relative;
	z-index: 1;
	border: 1px #c0c0c0 solid; 
}

.client_list > li > img{
	opacity: 0.4;
	max-width: 100%;
}

.client_list > li:hover{
	border: 1px #000 solid; 
	z-index:9;
}


.client_list > li:hover > img{
	opacity: 1;
}


/*#owl-demo2 .item img{
    display: block;
    width: 100%;
    height: auto;
}*/

.client_div{
	position: relative;
}

.client_div > .c_icon{
	position: absolute;
	top: 0px;
	left: 0px;
	color: rgba(0,0,0,0.08);
	font-size: 75px;
}

.client_div > .c_content{
	padding-top: 35px;
	margin-bottom: 30px;
}

.client_div > .c_content > p{
	margin: 0px;
	font-size: 18px;
	font-weight: 300;
	position: relative;
	z-index: 4
}

.client_div > .c_author > h4{
	margin: 0px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	margin-bottom: 2px;
}

.client_div > .c_author > span{
	font-size: 14px;
	color: rgba(0,0,0,0.4);
}

.scr10 .owl-dots{
	float: left;
}

.scr11{
	padding: 100px 0px;
}

.scr11 .scr11_title{
	margin-bottom: 80px;
	position: relative;
	text-align: center; 
}

.scr11_title > h2{
	font-size: 34px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.scr11_title > p{
    margin: 0px;
    color: rgba(0,0,0,0.4);
    font-size: 16px;
}

.quest{
	position: relative;
	margin-bottom: 50px;
}

.quest > h4{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 0px 0px 4px 0px;
	font-weight: 600;
}

.quest > p{
	color: rgba(0,0,0,0.4);
}

.scr12{
	padding: 100px 0px;
	background-image: url(../img/bg1.jpg);
	background-attachment: fixed;
}

.scr12_cont > h2{
	margin-top: 0px;
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 25px;
	color: #fff;
}

.scr12_cont > p{
	color: rgba(255,255,255,0.8);
	font-size: 16px;
	margin: 0px;
} 

.down_btn{
	width: 100%;
	margin-top: 45px;
	font-size: 0px;
}

.down_btn > .download_btn{
	margin: 0px 15px;
	text-decoration: none;
}

.scr13{
	padding: 100px 0px;
}

.scr13 .scr13_title{
	margin-bottom: 80px;
	position: relative;
	text-align: center;
}

.form_fields{
	margin-bottom: 20px;
}

.form-control{
	padding: 11px;
	height: auto;
	border: 1px #c0c0c0 solid;
	background: transparent;
	border-radius: 0px;
	text-decoration: none;
}

.send_btn{
	padding: 14px;
	cursor: pointer;
	display: block;
	width: 100%;
	position: relative;
	line-height: 1em; 
	border: 1px #c0c0c0 solid;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	transition: all .3s ease;
    background: transparent;
    text-decoration: none;
    color: #000;
    z-index: 10;
	border-radius: 0px;

}

.send_btn:hover{
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

.scr13_title > h2{
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 10px;
	letter-spacing: 2px; 
}

.scr13_title > p{
	margin: 0px;
	color: rgba(0,0,0,0.4);
	font-size: 16px;
}

.form_fields > textarea{
	min-height: 108px;
}

.foot_div{
	background-color: #e7e7e7;
    padding: 30px;
    color: rgba(0,0,0,0.4);
}


@media (max-width: 500px){

	.download_btn{
		margin: 5px auto !important;
		display: block;
	}

	
}



@media (max-width: 600px){

  .pg_border > .left, .pg_border > .right{
	width: 10px;
  }

  .menu_btn{
  	top:10px;
  	right: 10px;
  }

  .ph3{
  	border: none;
  	height: auto;
  }

  .ph3_1{
  	width: 55%;
  }

  .ph3_2{
  	width: 50%;
  }

  .ph4_1{
  	width: 50%;
  }

  .ph4_2{
  	width: 55%;
  }

  .scr1:before, .scr1:after{
  	height: 10px;
  }

}

@media (max-width: 768px){
    
    .pg_border > .left, .pg_border > .right{
	width: 10px;
    }

    .menu_btn{
  	top:15px;
  	right: 15px;
    }

     .container {
    padding-left: 30px;
    padding-right: 30px;
    }

    .client_list > li{
    	width: 50%;
    }

    .scr1:before, .scr1:after{
  	height: 15px;
    }

    .ph3_1 {
    margin-right: -150px;
   }

   .ph4_1 {
    margin-left: -5px;
    }

    .owl-theme .owl-dots .owl-dot span {
    width: 18px !important;
   }


}

@media (max-width: 820px){
    
    .menu_btn{
    	z-index: 999;
    }

    .menu {
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    text-align: center;
	    width: auto;
	    height: auto;
    }

    .menu > ul {
	    position: absolute;
	    top: 50%;
	    left: 0;
	    right: 0;
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
    }

    .menu > ul > li {
    	display: block;
    }

    .menu > ul > li > a {
	    line-height: 1em;
	    font-size: 16px;
	    padding: 20px 0;
    }

}

@media (max-width: 995px){

	.scr1 {
    height: auto !important;
    }

    .container {
    padding-left: 40px;
    padding-right: 40px;
    }

    .sub_cont{
    	text-align: center;
    	padding: 100px 0; 
    }

    .pos_r{
    	margin-bottom: 25px;
    	text-align: center;
    }

    .scr_content{
    	text-align: center;
    }

    .fet_div{
    	padding: 0px;
    }

    .fet{
    	text-align: center;
    	max-width: 400px;
    	margin: auto;
    	margin-bottom: 25px;
    }

    .ph5{
    	margin-top: 80px;
    	margin-bottom: 30px;
    }

    .vid_cont, .pr_cont{
    	padding-bottom: 50px;
    	padding-top: 0px;
    }

    .pr_div{
    	margin-bottom: 50px;
    }

    div:last-of-type > .pr_div{
    	margin-bottom: 0px;
    }

    .owl_one{
    	margin-top: 50px;
    }
	
}