html, body {
    background-color: #1E2E3B;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}

html{
	scroll-behavior: smooth;
}

.loader {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fafafa url(../images/loader.gif) no-repeat center center;
    text-align: center;
    color: #999;
}


p{
	font-size: 16px;
}

.white_nav{
	background: #fff;
	position: relative;
	transition: all .2s ease-in;
	text-align: center;
}

.white_nav .order24_7{
	color: #e7a331;
	display: inline-block;
	margin-top: 5px;
}

.white_nav .order24_7 i{
	    margin-right: 5px;
}

.navbar-fixed-top.on .white_nav{
	display: none;
}

.white_nav .nav_social{
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: right;
}

.white_nav .nav_social li{
    display: inline-block;
    padding: 5px;
}

.white_nav .nav_social li a{
	    color: #e7a331;
}

.navbar-nav {
	float: right;
}

.navbar-brand img{
	position: absolute;
    top: -32px;
    width: 250px;
    transition: all .2s ease-in;
}

.navbar-fixed-top.on .navbar-brand img{
	top: 0px;
}

.navbar-inverse{
	background-color: rgba(0,0,0,0.2);
	padding: 15px 0px;
	border: none;
	transition: all .2s ease-in;
}

.navbar-fixed-top.on .navbar-inverse{
	background-color: #000;
}


.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li:hover a {
     color: #e7a331;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #e7a331;
    background: transparent;
}

.navbar-inverse .sec_btn{
	border: 1px #fff solid;
	color: #e7a331 !important;
	padding: 6px 12px;
    font-size: 15px;
    margin-top: 8px;
}

.sec1{
	background: url(../images/bannerbg.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative; 
}

.overlay{
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.sec1 .main_content{
	padding: 250px 0px 200px 0px;
}

.sec1 .main_content h1{
	font-size: 90px;
	color: #fff;
	margin: 0px 0px 60px 0px;
	font-family: 'Pacifico',cursive;
}

.sec1 p{
	color: #fff;
}

.sec1 .sec_btn{
	border: 1px #fff solid;
    color: #fff;
    font-size: 20px;
    padding: 10px 50px;
    margin-top: 40px;
}

.sec2{
	padding: 100px 0px;
	background: url(../images/abtbg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}


.sec2 .abt_cont h1{
	font-family: 'Pacifico',cursive;
	color: #000;
}

.sec2 .abt_cont h2{
	text-transform: uppercase;
	font-size: 34px;
	color: #000;
}

.sec2 .sec_btn{
	color: #fff;
	background: #e7a331;
	text-transform: uppercase;
}

.sec2 .sec_btn:hover{
	background: #c58b2b;
}

.sec3{
	padding: 100px 0px;
	background: url(../images/ftbg.jpg) no-repeat; 
	background-size: cover;
	background-position: center center;
	position: relative;
}


.sec3 .img_div{
	background: url(../images/ft.png) no-repeat; 
	/*background-size: cover;*/
	background-position: right center;
	overflow: hidden;
	padding: 40px 0px; 
}

.sec3 .cont_img{
	background: url(../images/abtbg.jpg) no-repeat; 
	background-position: center center;
	background-size: cover; 
	padding: 30px;
}

.sec3 .cont_img h1{
	font-family: 'Pacifico',cursive;
}

.sec3 .cont_img h2{
	font-size: 34px;
}

.sec3 .sec_btn{
	color: #fff;
	background: #e7a331;
	text-transform: uppercase;
}

.sec3 .sec_btn:hover{
	background: #c58b2b;
}


.sec4{
	padding: 100px 0px;
	background: url(../images/abtbg.jpg) no-repeat;  
	background-position: center center;
	background-size: cover;
	position: relative;
}


.sec4 .sec_title h1{
    font-family: 'Pacifico',cursive;
    color: #000;
}

.sec4 .sec_title h2{
    color: #000;
}

.sec4 .main_div{
	margin-top: 50px;
}

.sec4 .sec4_img{
	width: 25%;
	float: left;
	height: 285px;
	position: relative;
}

.sec4 .p1{
	background: url(../images/p1.png) no-repeat;
	background-size: cover;
	background-position: center center;
}

.sec4 .p2{
	background: url(../images/p2.png) no-repeat;
	background-size: cover;
	background-position: center center;
}

.sec4 .p3{
	background: url(../images/p3.png) no-repeat;
	background-size: cover;
	background-position: center center;
}

.sec4 .p4{
	background: url(../images/p4.png) no-repeat;
	background-size: cover;
	background-position: center center;
}

.sec4 .p5{
	background: url(../images/p5.png) no-repeat;
	background-size: cover;
	background-position: center center;
}

.sec4 .p6{
	background: url(../images/p6.png) no-repeat;
	background-size: cover;
	background-position: center center;
}

.sec4 .p7{
	background: url(../images/p7.png) no-repeat;
	background-size: cover;
	background-position: center center;
}

.sec4 .p8{
	background: url(../images/p8.png) no-repeat;
	background-size: cover;
	background-position: center center;
}


.sec4 .overlay{
	position: absolute;
	width: 85%;
	height: 85%;
	top: 22px;
	left: 18px;
	background: rgba(0,0,0,0.6);
	transition: .5s ease;
}

.sec4 .over_div{
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 100%;
	left: 0;
	transition: .5s ease;
	overflow: hidden;
}

.sec4 .sec4_img:hover .over_div{
    bottom: 0;
    height: 100%; 
}

.sec4  .over_div h2{
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
    margin-bottom: 10px;
}

.sec4  .over_div h1{
	color: #fff;
	font-size: 45px;
	font-weight: 600;
	margin-top: 20px;
    margin-bottom: 10px;
}

.sec4 .sec_btn{
	color: #fff;
	background: #e7a331;
	text-transform: uppercase;
}

.sec4 .sec_btn:hover{
	background: #c58b2b;
}


.sec5{
	padding: 100px 0px;
	background: url(../images/newsbg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.sec5 .sec_title h1{
    font-family: 'Pacifico',cursive;
    color: #fff;
}

.sec5 .sec_title h2{
    color: #fff;
}

.sec5 .img_div1{
	background: url(../images/newsone.jpg) no-repeat; 
	/*background-size: cover;*/
	background-position: left center;
	overflow: hidden;
	padding: 40px 0px; 
}

.sec5 .img_div2{
	background: url(../images/newstwo.jpg) no-repeat; 
	/*background-size: cover;*/
	background-position: right center;
	overflow: hidden;
	padding: 40px 0px; 
}

.sec5 .img_div3{
	background: url(../images/newsthree.jpg) no-repeat; 
	/*background-size: cover;*/
	background-position: left center;
	overflow: hidden;
	padding: 40px 0px; 
}

.sec5 .cont_img1{
	background: #fff;
	padding: 30px;
}

.sec5 .mrg_top{
	margin-top: 50px;
}

.sec5 .menu{
	padding: 0;
	margin: 0;
}

.sec5 .menu li{
	list-style: none;
	margin-top: 20px;
}

.sec5 .menu li img{
	margin-right: 5px;
}

.sec5 .cont_img1 h1{
	font-family: 'Pacifico',cursive;
}

.sec6{
	background: url(../images/appsbg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	padding: 100px 0px; 
}

.sec6 .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 0;
}

.sec6 .container{
	z-index: 10;
}

.sec6 .sec6_cont{
	padding-top: 100px;
}

.sec6 .sec6_cont h2{
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
}

.sec6 .sec6_cont h1{
	font-size: 80px;
	color: #fff;
	text-transform: uppercase;
}

.sec6 .sec6_cont .cursive{
	font-family: 'Pacifico',cursive;
	text-transform: none;
}

.sec6 .download img{
	float: left;
	display: inline-block;
	margin-top: 40px;
	margin-left: 15px;
}

.sec7{
	padding:50px 0px;
	background: url(../images/footerbg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.sec7 h1{
	font-family: 'Pacifico',cursive;
	color: #fff;
	font-size: 32px;
	margin-bottom: 40px;
}

.sec7 h3{
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.sec7 p{
	color: #fff;
}

.sec7 .mrg_top{
	margin-top: 30px;
}


.sec7 .footer_social{
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 60px;
}

.sec7 .footer_social li{
    display: inline-block;
    padding: 5px;
}

.sec7 .footer_social li a{
	    color: #e7a331;
	    font-size: 26px;
}
.sec7 .form-control{
	background: #323232;
	margin-bottom: 15px;
	border: none;
}

.sec7 .fields{
	height: 32px;
}

.sec7 form .sec_btn{
	color: #fff;
	background: #e7a331;
	text-transform: uppercase;
}

.sec7 form .sec_btn:hover{
	background: #c58b2b;
}

footer{
	background: #000;
	padding: 20px 0px;
}

footer p{
	color: #fff;
	font-size: 18px;
}

footer p i{
	color: red;
}

footer p a{
	color: green;
}

footer p a:hover{
	text-decoration: none;
	color: green;
}


/******************** Page top icon ******************/


.pagetop{
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
}

.pagetop a{
    background: #000;
    color: #fff;
    width: 50px;
    height: 50px;
    display: table;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
}

.pagetop a:hover{
	text-decoration: none;
}

.pagetop a i{
    display: table-cell;
    vertical-align: middle;
}

.pagetop.active {
    visibility: visible;
    opacity: 1;
}


/****************************************************/


@media (max-width: 767px){

	.white_nav{
	text-align: right;
   }

   .white_nav .order24_7 {
   	display: block;
   }
	
   .navbar-nav {
	float: none;
   }

   .navbar-brand img {
   	top: -58px;
    width: 170px;
   }


   .navbar-inverse .sec_btn {
    margin-left: 5px;
    margin-right: 5px;
   }

   .sec4 .sec4_img{
	width: 50%;
	height: 175px;
   }

   .sec4 .over_div{
	height: 100%;
	top: 0px;
   }

   .sec4  .over_div h2{
	font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
	}

	.sec4  .over_div h1{
	font-size: 30px;
	margin-top: 10px;
    margin-bottom: 10px;
	}

	.sec5 .mob_res{
		display: none;
	}

	.sec6 .sec6_cont h2{
	font-size: 25px;
	}

	.sec6 .sec6_cont h1{
		font-size: 50px;
	}

	.sec6 .sec6_cont{
	padding-top: 30px;
    }
}