body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
}


a:hover{
	text-decoration: none;
}

.navbar-default{
    margin-bottom: 0px;
    background: transparent;
    border-bottom: none;
    padding-top: 20px;
    transition: all 0.3s ease;
}

.navbar-default .navbar-toggle{
    border: none;
}

.navbar-default .navbar-toggle:active , .navbar-default .navbar-toggle:focus{
  background: transparent;
}


.navbar-default .navbar-toggle .icon-bar{
    background-color: #888;
    border-color: transparent;
}

.navbar-default .logo{
   font-weight: bold;
   font-size: 30px;
   color: #fff;
   letter-spacing: 2px;
}

.navbar-default .navbar-nav li a{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 10px;
    padding-left: 10px;
    color: #ddd;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover {
    background-color: transparent;
    color:#66ccff;

}

.navbar-default .navbar-nav li a span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}

.on {
    background-color: #000 !important;
    border-bottom: 1px solid #000 !important;
    padding: 8px !important;
    transition: all 0.3s ease;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
 }


.sec1{
   background: url(../images/intro-bg.jpg) 50% 0 no-repeat fixed;
   align-items: center;
   display: flex;
   height: 100vh;
   text-align: center;
}

h3{
	font-size: 30px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

h1{
	font-size: 48px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}

.sec1 .sec_btn1{
	background: transparent;
    line-height: 1.4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 16px 49px;
    border: 2px #fff solid;
    border-radius: 0px;
    margin-top: 42px;
    margin-right: 20px;
}

.sec1 .sec_btn1:hover{
	background: #fff;
    color: #000;
}

.sec1 .sec_btn2{
	background: #f2545f;
    line-height: 1.4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 16px 49px;
    border: 2px #f2545f solid;
    border-radius: 0px;
    margin-top: 42px;
    margin-right: 20px;
}

.sec1 .sec_btn2:hover{
	background: transparent;
    border: 2px #fff solid;
}


.sec2{
	background: #fff;
	padding: 130px 0px;
}

p{
	font-size: 14px;
    color: #6b6969;
    line-height: 24px;
    margin: 34px 0px;
}


.sec3{
    background: #222;
    color: #ffffff;
    padding: 120px 0px 100px 0px;
}

.sec3 i{
	font-size:50px;
	color: #f2545f;
}

.sec3 h3{
	font-weight: bold;
}


.sec4{
	padding: 130px 0px;
}

.sec4 h1{
	color: #333;
	font-size: 32px;
}

.sec5{
	padding: 100px 0px;
	background: #f9f9f9;
}

.sec5 h1{
	color: #333;
	font-size: 32px;
	letter-spacing: 0px;
}

.sec5 .col-md-3{
	display: block;
	width: 100%;
	padding: 0px;
}
.sec5 h3{
	color: #333;
	font-size: 22px;
	margin: 0px;
	margin-top: 40px;
	letter-spacing: 0px;
}

.sec5 .speaker_info{
	background: #fff;
    margin-top: -20px; 
    padding: 10px;
}

.sec5 .speaker_info p{
	font-size: 14px;
	font-weight: 600;
    color: #6b6969;
    line-height: 24px;
    margin: 4px 0px 14px 0px;
}

.sec_title{
	margin-bottom: 40px;
}


.sec6{
	padding: 100px 0px 50px 0px;
}


.sec6 .col-md-12 h1{
	color: #333;
	font-size: 32px;
	letter-spacing: 0px;
	margin-bottom: 10px;
}


.sec6 .col-md-12 p{
    margin-top: 15px;
    font-size: 14px;
}

.sec6 .nav-tabs li{
	float: left;
}

.sec6 .nav-tabs a{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	color: #333;
}

.sec6 .nav-tabs > li > a:hover{
	background: transparent;
	border: transparent;
}

.sec6  .nav-tabs > li.active > a, .sec6  .nav-tabs > li.active > a:hover, .sec6  .nav-tabs > li.active > a:focus {
    color: #f2545f;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: #999;
}

.sec6 .tab-content img{
	border-radius: 50%;
}

.sec6 .tab-content .col-md-2{
	padding: 32px 10px;
}

.sec6 .tab-content .col-md-10{
	padding: 40px 0px 40px 35px;
}

.sec6 .tab-content .col-md-10 h1{
	color: #333;
	font-size: 24px;
	letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;

}

.sec6 .tab-content p{
	margin: 0px 0px 10px 0px;
}

.sec6 .tab-content span{
	font-size: 13px;
    font-weight: 600;
}

.sec6 .tab-content .speaker_name{
	font-weight: 600;
}

.mrg_lft{
	margin-left: 5px;
}

.sec6 .divider{
	border: 1px solid #f6f6f6;
    height: 3px;
}

.sec7{
	background: url(../images/register-bg.jpg) 50% 0 no-repeat fixed;
	padding: 150px 0px;
}

.sec7 h1{
	font-size: 32px;
}

.sec7 h3 {
    font-size: 25px;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.sec7 p{
	margin-top: 15px;
}

.sec7 .form-control{
	background: transparent;
	border-radius: 0px;
	border: 2px #fff solid;
	margin-bottom: 20px;
	height: 42px;
}

.sec7 .sec_btn{
	background: #f2545f;
    line-height: 1.4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border: 2px #f2545f solid;
    width: 44%;
    float: right;
    border-radius: 40px;
    height: 48px;
    letter-spacing: 2px;
}

.sec7 .sec_btn:hover{
	background: #fff;
	color: #000;
	border: 2px #fff solid;
}

.sec8{
	padding: 100px 0px;
	background: #f9f9f9;
}

.sec8 h1 {
    font-size: 30px;
    letter-spacing: 0px;
    color: #333;
    margin-bottom: 15px;
}

.sec8 p{
	margin: 20px 10px;
}

.sec8 .a_center{
	    margin-left: 120px;
}

/****************  sec8 accordion  ********************/

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
  text-decoration: none;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*************************************************/


.sec9{
	padding: 100px 0px;
	background: url(../images/venue-bg.jpg) 50% 0 no-repeat fixed;
}

.sec9 h1{
   font-size: 32px;
   color: #333;
}

.sec9 h4{
	font-size: 20px;
	color: #333;
	font-weight: 600;
}


.sec10{
	padding: 100px 0px;
}

.sec10 h1{
	font-size: 32px;
	color: #333;
	margin-bottom: 10px;
}

.sec10 p{
	margin-top: 10px;
	margin-bottom: 50px;
}


.sec11{
	padding: 100px 0px;
	background: url(../images/contact-bg.jpg) 50% 0 no-repeat fixed;
}


.sec11 .contact_details{
	background: #fff;
}

.sec11 h1{
	color: #333;
	font-size: 30px;
}

.sec11 h3{
	font-size: 28px;
	color: #333;
}

.sec11 .contact_info{
	padding: 30px;
}

.sec11 .contact_details{
    padding: 50px; 
}

.sec11 .form-control{
	margin-bottom: 10px;
    border: 1px transparent solid;
    box-shadow: none;
    border-bottom: 1px #d2d1d1 solid;
    border-radius: 0px;
}

.sec11 .fields{
	height: 52px;
}

.sec11 .sec_btn1{
    background: #f2545f;
    line-height: 1.4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border: 2px #f2545f solid;
    width: 44%;
    float: left;
    border-radius: 40px;
    height: 48px;
    letter-spacing: 2px;
    margin-top: 30px; 
}

.sec11 .sec_btn1:hover {
    background: #fff;
    color: #000;
    border: 2px #fff solid;
}

.sec11 .sec_btn2{
	background: #222;
    line-height: 1.4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border: 2px #222 solid;
    width: 32%;
    border-radius: 40px;
    height: 48px;
    letter-spacing: 2px;
}

.sec11 .sec_btn2:hover{
	background: #f2545f;
	border: 2px #f2545f solid;
}

.sec11 p{
	margin-top: 0px;
    margin-bottom: 10px;
}

footer{
	padding: 60px 0px;
}

footer .social-icon li{
	list-style: none;
	display: inline-block;
	height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    padding: 14px;
}

footer .social-icon li a{
	color:#666;

}

footer .social-icon li:hover{
	background: #f2545f;
}

footer .social-icon li:hover a{
	color : #fff;
}

a{
	color: #f2545f;
}

/******************** Page top icon ******************/


.pagetop{
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
}

.pagetop a{
    background: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    display: table;
    text-align: center;
    font-size: 18px;
    border-radius: 0px;
}

.pagetop a i{
    display: table-cell;
    vertical-align: middle;
}

.pagetop.active {
    visibility: visible;
    opacity: 1;
}


/****************************************************/


@media (max-width: 767px){

.sec8 .a_center{
	    margin-left: 0px;
}

.row {
     margin-right: 0px;
     margin-left: 0px; 
}

h1{
	font-size: 35px;
}

h3{
	font-size: 20px;
}

.navbar-nav{
	padding: 0px 15px;
}

.navbar-default .logo{
	    margin-left: 10px;
	    font-size: 25px;
}

.navbar-default {
	padding-top: 0px;
	background: #000;
}

}

/************************  loader *************************/


.loader {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fafafa url(../images/loader.gif) no-repeat center center;
    text-align: center;
    color: #999;
}



/*********************************************************/